<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fgaudioplayer">
    <!--Demo app foreground service e.g. boilerplate code for audio player-->
    <!--http://www.tutorialsface.com/2015/09/simple-android-foreground-service-example/ -->
    <!--https://stackoverflow.com/questions/47531742/startforeground-fail-after-upgrade-to-android-8-1 -->
    <!--https://stackoverflow.com/questions/47611123/oreo-starting-a-service-in-the-foreground -->
    <!--Audio player; Refer to Google I/O 2018 https://www.youtube.com/watch?v=svdq1BWl4r8 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".ForegroundService" >
        </service>
    </application>

</manifest>